/* Write your CSS here */
.bg {
  background-color: black;
  min-height: 100vh;
}
.prime-video-image {
  width: 100%;
  height: 45vh;
}
.heading {
  color: white;
  font-family: 'Roboto';
  font-weight: 600;
}
.content-container {
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
}
